NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_BANK_ACCOUNT_NAME=Persatuan Penduduk Desa Tanjung
NEXT_PUBLIC_BANK_ACCOUNT_NUMBER=1234567890
NEXT_PUBLIC_BANK_NAME=Maybank
NEXT_PUBLIC_PAYMENT_QR_URL=https://placehold.co/600x600/png?text=Upload+Your+QR
